,*
*~
bin/
.cache/
.coverage
dist/
/doc/manual.html
/doc/manual.pdf
/doc/NEWS.html
/doc/NEWS.txt
.DS_Store
*.egg-info
.eggs/
htmlcov/
include/
lib64
lib*/python?.?/
lib*/python-wheels
pip-selfcheck.json
/pkgs/applications/kde-apps-*/tmp/
/pkgs/desktops/plasma-*/tmp/
/pkgs/development/libraries/kde-frameworks-*/tmp/
/pkgs/development/libraries/qt-5/*/tmp/
pyvenv.cfg
__pycache__
result
result-*
*.sw?
tags
.vagrant
.version-suffix
